<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2>🔥 FireSafetyAI</h2>
      <p>Empowering hotel staff with AI-driven fire safety training.</p>
    </div>

    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a [routerLink]="['/home', userId]">Home</a></li>
        <li><a  [routerLink]="['/modules', userId]">Modules</a></li>
        <li><a  [routerLink]="['/dashboard', userId]">Dashboard</a></li>
          <li><a [routerLink]="['/profile', userId]">Profile</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p>Email: support@firesafetyai.com</p>
      <p>Phone: +91 98765 43210</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 FireSafetyAI. All Rights Reserved.</p>
    <div class="legal-links">
      <a routerLink="/privacy">Privacy Policy</a>
      <span>|</span>
      <a routerLink="/terms">Terms of Use</a>
    </div>
  </div>
</footer>
